@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background: #EEE;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1000px;
    padding: 20px;
    margin: auto;
    background: #E4F9F5;
    box-sizing: border-box
}


/* Header-Start */

.header-photo {
    width: 150px;
    float: left;
}

.header-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.header-Bio {
    width: 300px;
    float: left;
    padding-top: 10px;
}

.header-contact {
    width: 404px;
    float: right;
    padding-top: 10px;
}

.header-contact a {
    text-decoration: none;
    color: black;
    transition: .5s;
}

.header-contact a:hover {
    text-decoration: underline;
    ;
    color: red;
}


/* Header-End */

.clear-both {
    clear: both;
}

.rayhad {
    border: 3px solid black;
    border-bottom: none;
    margin-top: 10px;
}


/* personal-information-start */

.right-content {
    width: 250px;
    float: left;
    padding-top: 20px;
}

.left-content {
    width: 700px;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* personal-information-end */


/* Work-Experience-section-start */

.rwork {
    width: 250px;
    float: left;
}

.rwork h4 {
    padding-top: 20px !important;
}

.lwork {
    width: 709px;
    float: right;
}

.lwork h4 {
    font-weight: 700;
    font-size: 20px;
    margin-top: -19px;
}

.lwork span {
    font-size: 12px;
    color: #808000;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Work-Experience-section-end */


/* education-section-start */

.eSection1 {
    width: 250px;
    float: left;
}

.eSection2 {
    width: 350px;
    float: left;
}

.eSection3 {
    width: 320px;
    float: right;
}


/* education-section-end */


/* Awards-section-start  */

.rAwards {
    width: 250px;
    float: left;
}

.lAwards {
    width: 700px;
    float: left;
}

.lAwards ul li::marker {
    color: red;
    font-size: 20px;
}


/* Awards-section-end  */


/* References-section-start */

.rReferences {
    width: 250px;
    float: left;
}

.lReferences1 {
    width: 300px;
    float: left;
}

.lReferences2 {
    width: 300px;
    float: right;
}

.name {
    font-size: 20px;
    color: green;
}


/* References-section-end */


/* footer-start */

.footer-section {
    background: #000;
    text-align: center;
    padding: 10px;
}

.footer-Menu {
    /* text-align: center; */
}

.footer-Menu a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.copyRight-section {
    color: white;
    padding-top: 10px;
}


/* footer-end */